.sidebar.animated {
    animation-duration: 1s;
    animation-name: slideInLeft;
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .sidebar .nav-item {
    animation-duration: 0.5s;
    animation-name: fadeIn;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .sidebar .nav-item:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .sidebar .nav-item:nth-child(2) {
    animation-delay: 0.6s;
  }
  
  .sidebar .nav-item:nth-child(3) {
    animation-delay: 0.8s;
  }
  
  .sidebar .nav-item:nth-child(4) {
    animation-delay: 1s;
  }
  

@media (min-width: 560px) {
    .vh-m {
    height: 100vh;
    }
    }

