.sidebar.animated {
    animation-duration: 1s;
    animation-name: slideInLeft;
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .sidebar .nav-item {
    animation-duration: 0.5s;
    animation-name: fadeIn;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .sidebar .nav-item:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .sidebar .nav-item:nth-child(2) {
    animation-delay: 0.6s;
  }
  
  .sidebar .nav-item:nth-child(3) {
    animation-delay: 0.8s;
  }
  
  .sidebar .nav-item:nth-child(4) {
    animation-delay: 1s;
  }
  

@media (min-width: 560px) {
    .vh-m {
    height: 100vh;
    }
    }

    .avatar-frame {
        aspect-ratio: 1;
        position: relative;
        border-radius: 100%
        }

         .avatar {
        position: absolute;

        background-repeat: no-repeat;
        background-size: cover;
        animation: mahdi 5s ease-in-out 2s infinite;
        background-blend-mode: multiply;
        box-shadow: inset 0 0 0 9px hsla(0, 2%, 17%, 0.3);
        border-radius: 60% 40% 50% 70%/60% 50% 70% 40%;
        overflow: hidden;
        }

        @keyframes mahdi {
        0% {
                border-radius: 60% 40% 50% 70%/60% 50% 70% 40%
        }

        50% {
                border-radius: 50% 60% 70% 40%/50% 60% 50% 60%
        }

        to {
                border-radius: 60% 40% 50% 70%/60% 50% 70% 40%
        }
        }



        .gallery {
          --g: 8px;   /* the gap */
          --s: 400px; /* the size */
          
          display: grid;
          border-radius: 50%;
        }
        .gallery > img {
          grid-area: 1/1;
          width: 400px;
          aspect-ratio: 1;
          object-fit: cover;
          border-radius: 50%;
          transform: translate(var(--_x,0),var(--_y,0));
          cursor: pointer;
          z-index: 0;
          transition: .3s, z-index 0s .3s;
        }
        .gallery img:hover {
          z-index: 1;
          transition: transform .2s, clip-path .3s .2s, z-index 0s;
        }
        .gallery:hover img {
          transform: translate(0,0);
        }
        .gallery > img:nth-child(1) {
          clip-path: polygon(50% 50%,calc(50%*var(--_i,0)) calc(120%*0.3),0 calc(100%*var(--_i,0)),0 0,100% 0,100% calc(100%*var(--_i,0)),calc(100% - 50%*var(--_i,0)) calc(120%*var(--_i,0)));
          --_y: calc(-1*var(--g))
        }
        .gallery > img:nth-child(2) {
          clip-path: polygon(50% 50%,calc(100% - 120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100% - 100%*var(--_i,0)) 0,100% 0,100% 100%,calc(100% - 100%*var(--_i,0)) 100%,calc(100% - 120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
          --_x: var(--g)
        }
        .gallery > img:nth-child(3) {
          clip-path: polygon(50% 50%,calc(100% - 50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)),100% calc(100% - 120%*var(--_i,0)),100% 100%,0 100%,0 calc(100% - 100%*var(--_i,0)),calc(50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)));
          --_y: var(--g)
        }



        .circle-container {
          position: relative;
          width: 200px; /* Adjust the size as needed */
          height: 200px; /* Adjust the size as needed */
          border-radius: 50%;
          overflow: hidden;
        }
        
        .circle-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s ease;
        }
        
        .circle-image:hover {
          transform: scale(1.2); /* Adjust the scale factor as desired */
        }

        
